spring:
  datasource:
    url: jdbc:mysql://mysql:3306/store_api?autoReconnect=true&failOverReadOnly=false&maxReconnects=10
    username: root
    password: root
  jpa:
    show-sql: true
  data:
    redis:
      host: redis
      port: 6379
stripe:
  webUrl: http://localhost:4242